
@font-face {
  font-family: 'iconfont';  /* project id 957301 */
  src: url('//at.alicdn.com/t/font_957301_5utww5sut7x.eot');
  src: url('//at.alicdn.com/t/font_957301_5utww5sut7x.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_957301_5utww5sut7x.woff') format('woff'),
  url('//at.alicdn.com/t/font_957301_5utww5sut7x.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_957301_5utww5sut7x.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:32px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





.icon-xiaoxi:before { content: "\e62c"; }

.icon-wode:before { content: "\e620"; }

.icon-qian:before { content: "\e642"; }

.icon-iconfontzhizuobiaozhun20:before { content: "\e613"; }

.icon-sousuo1:before { content: "\e623"; }

.icon-fanhui:before { content: "\e66f"; }

.icon-shouye:before { content: "\e611"; }


